/*Tabs Design*/
.tabs {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
	padding: 15px;
	text-align: center;
	display: inline-block;
}

.tabs a{
    text-align: center;
    text-decoration: none;
    padding: 6px;
    /*margin: 0px auto;*/
}

.tabs a img{
	width: 8%;
	height: 8%;
}

.character-nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.character-nav li {
	display: inline;
}


/*Hover State*/
.character-nav li.active img, .character-nav li img:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.character-nav li.active img, .character-nav li img:active {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
/*Panels*/
.tab-panel {
    display: none;
	height: 100%;
    overflow: auto;	
	margin: 15px 0 0 0;
}

.tab-panel.active {
	display: inline-block;
	background-color: #371E64;
	width: 100%;
	position: relative;
}
.tab-panel h3{
    position: relative;
    width: 30%;
    height: 10%;
    text-align: center;
    margin: 0 auto;
    top: 200%;
    transform: translate(0%, -2000%);*/
}
.tab-panel p {
	width: 80%;
	height: 30%;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-40%, -50%);
}

.character-standing img{
	width: 20%;
	position: relative;
	transform: translate(-200%, 15%);
}

.facial-expressions img{
	width: 60%;
	/*margin-left: 100px;*/
	position: relative;
	transform: translate(18%, 378%);
}

/*Media Query*/

@media (max-width:900px){
	.character-nav li img{
    width: 50px;
    height: 50px;
    /*border: 2px solid black;
    border-radius: 75px;*/
}
}

/*relationship image*/
#character-relation{
	margin: 0 auto;
	text-align: center;
}

#character-relation img{
	width: 25%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
    cursor: pointer;
}