/*Tabs Design*/
.tabs {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
	text-align: center;
	display: inline-block;
}

.tabs a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px auto;
}

.tabs a img{
	width: 8%;
	height: 8%;
}

.character-nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.character-nav li {
	display: inline;
}


/*Hover State*/
/*@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.character-nav li a img{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.character-nav li a img:hover{
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*Panels*/
.tab-panel {
    display: none;
    overflow: auto;	
}

.tab-panel.active {
	display: inline-block;
	background-color: #371E64;
	width: 100%;
	/*min-height: 100px;*/
	position: relative;
}

.tab-panel p {
	width: 80%;
	height: 30%;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-40%, -50%);
}

.character-standing img{
	width: 20%;
	position: relative;
	transform: translate(-200%, 15%);
}

.facial-expressions img{
	width: 60%;
	/*margin-left: 100px;*/
	position: relative;
	transform: translate(18%, -378%);
}

//Media Query

@media (max-width:900px){
	.character-nav li img{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 75px;
}
}

/*Game Button Link*/
#characterGameBtn{
	text-align: center;
	margin: 0 auto;
}

#characterGameBtn img{
	text-align: center;
	margin: 0 auto;
	width: 30%;
}

/*relationship image*/
#character-relation{
	margin: 0 auto;
	text-align: center;
}

#character-relation img{
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}