.marisa-description{
	width: 100%;
    height: 40%;
    display: inline-block;
}

.marisa-description img{
	width: 15%;
	height: 15%;
    margin-right: 2%;
    float:left;
}

.marisa-social-media{
	width: 100%;
	float: right;
    position: absolute;
    bottom: 20%;
}

.marisa-social-media img{
	width: 15%;
	height: 15%;
	float: right;
}

.marisa-social-media a img{
	width: 2.5%;
	height: 2.5%;
    margin: .5%;
	margin-top: 12%;
}

.marisa-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}
.marisa-description h3{
	margin: 0;
    padding: 0;
}

div.marisa-description p{
	width: 80%;
	height: 30%;
	margin: 0;
    text-indent: 4%;
}
.alexandra-description{
	width: 100%;
}

.alexandra-description img{
	width: 15%;
	height: 15%;
}

.alexandra-social-media{
	width: 100%;
	float: right;
}

.alexandra-social-media img{
	width: 15%;
	height: 15%;
	float: right;
}

.alexandra-social-media a img{
	width: 2.5%;
	height: 2.5%;
    margin: .5%;
	margin-top: 12%;
}

.alexandra-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}

.alexandra-description p{
	width: 80%;
	height: 30%;
	margin: 0;
	float: right;

}