.marisa-description{
	width: 1500px;
    display: inline-block;
}

.marisa-description img{
	width: 240px;
    margin-right: 20px;
    float:left;
}
.marisa-description h3{
	margin: 0;
    padding: 0;
}

.marisa-description p{
	width: 1160px;
	margin: 0;
    text-indent: 50px;
}

.marisa-social-media{
	width: 1500px;
	float: right;
    margin-top: -150px;
}

.marisa-social-media img{
	width: 230px;
	float: right;
}

.marisa-social-media a img{
	width: 40px;
	margin-top: 180px;
}

.marisa-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}

.alexandra-description{
	width: 1500px;
    display: inline-block;
    padding-top: 50px;
}

.alexandra-description img{
	width: 240px;
    margin-right: 20px;
    float:left;
}

.alexandra-description h3{
	margin: 0;
    padding: 0;
}

.alexandra-description p{
	width: 1160px;
	margin: 0;
    text-indent: 50px;
}

.alexandra-social-media{
	width: 1500px;
	float: right;
    margin-top: -150px;
}

.alexandra-social-media img{
	width: 250px;
	float: right;
}

.alexandra-social-media a img{
	width: 40px;
	margin-top: 180px;
}

.alexandra-social-media a img:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transform: scale(1.4);
}

@media (max-width:1300px){
    .marisa-description{
	width: 1100px;
}
    .marisa-description p{
	width: 850px;
}
    .alexandra-description{
        width:1100px;
    }
    .alexandra-description p{
	width: 841px;
}
}