body {
    overflow-x: hidden;
    height: 150vh;
}
/*Left Screen*/
.left-screen{
    float: left;
    position: relative;
}
#left-blue-screen{
    z-index: 10;
    position: absolute;
    top:.25%;
    left: -.05%;
    width: 50vw;
    
}
.left-shelf {
    z-index: 9;
    width: 50vw;
}

.left-shelf.open{
    animation-name: slideRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.left-shelf.close{
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.left-text-block{
    font-size: 1em;
    z-index: 11;
    position: absolute;
    top: 20%;
    left: 14%;
    width: 38vw;
}

.button{
    z-index: 12;
    height: 11%;
    background-image: url(../images/TempArt/Spoiler_Buttons110x84.png);
    text-indent: -9999px;
    display: inline-block;
    
}

.left-blue-spoiler-btn{
    position: absolute;
    bottom: 2%;
    right: 8%;
    width: 11.5%;
    background-position: 28% 0;
}

.left-blue-spoiler-btn:hover{
    background-position: -217px -78px;
}

/*Right Screen*/
.right-screen{
    float: right;
    position: relative;
}
#right-green-screen{
    z-index: 10;
    position: absolute;
    top:.25%;
    left: -.05%;
    width: 50vw;
}

.right-shelf{
    z-index: 9;
    width: 50vw;
}

.right-shelf.open{
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.right-shelf.close{
    animation-name: slideRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

.right-text-block{
    font-size: 1em;
    z-index: 11;
    position: absolute;
    top: 20%;
    left: 11%;
    width: 38vw;
}

.button{
    z-index: 12;
    height: 11%;
    background-image: url(../images/TempArt/Spoiler_Buttons110x84.png);
    text-indent: -9999px;
    display: inline-block;
    
}

.right-green-spoiler-btn{
    position: absolute;
    bottom: 4%;
    left: 8%;
    width: 11.5%;
    background-position: 42.5% 0;
}

.right-green-spoiler-btn:hover{
    background-position: -330px -78px;
}

@keyframes slideRight{
    from {transform: translateX(0);}
    to {transform: translateX(75%);}
}
@keyframes slideLeft{
    from {transform: translateX(0);}
    to {transform: translateX(-75%);}
}
