/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/*CSS Document*/

/*Color Pattern for Episode Divs*/
/*purple: #845aa2
pink: #ec5288
green: #7bcba4
yellow: #e6bd6e
blue: #2d46a2
grey: #354656
red: #e75a49*/

body{
	margin: 0;
	padding: 0;
    overflow-x: hidden;
}

/*#content{
    width: 80%;
    margin: 0 auto;
}*/
p{
	margin: 0 0 20px 0;
}

/*p, ul{
	font-size-adjust: 0.488;
	font-weight: 200;
	font-style: normal;
}*/

img{
	border: 0;
	width:100%;
}

/*h1, #pixels{
	font-size-adjust: 0.4;
	font-weight: 700;
	font-size: normal;
}*/

/*h2 {
    font-size-adjust:0.531;
    font-weight:500;
    font-style:normal;
}*/


.float-left{
	float:left;
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

#isaacMagician{
    width: 40%;
    float: right; 
}

.center{
        font-size: 2.5em;
        padding: 80px 0 0 0;
        text-align: center;
}

#nav{
        list-style: none;
        position: fixed;
        right: 20px;
}

#nav li{
        margin: 0 0 15px 0;     
}

#header, #first, #second{
        width: 100%;
}

#first{
        /*background:url("../images/episodes_page/work-1.jpg") 50% 0 no-repeat fixed;*/
        background-color: #845aa2;
		background-size: cover;
        color: black;
        height: 900px;
        margin: 0 auto;
        padding: 0;
        width: 80%;
}

#first .storytime-bear{
    background: url(../images/episodes_page/storytime-Bear.gif) 10% no-repeat fixed;
    height: 900px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 200;
    max-width: 1800px;
    width: 100%;
    overflow: hidden;
}

#second{
        /*background: url("../images/episodes_page/secondBG-1.jpg") 50% 0 no-repeat fixed;*/
        background-color: #ec5288;
		background-size: cover;
        color: black;
        height: 1300px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        width: 80%;
}

#second .bg{
        background: url("../images/episodes_page/trainers-1.png") 50% 0 no-repeat fixed;
        height: 1300px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        z-index: 200;
        max-width: 1900px;
		width: 80%;
        overflow: hidden;
}

#third{
        /*background: url("../images/episodes_page/creative-1.jpg") 50% 0 no-repeat fixed;*/
        background-color: #7bcba4;
		background-size: cover;
        color: black;
        height: 650px;
        padding: 100px 0 0 0;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
}

#fourth{
        /*background: url("../images/episodes_page/creative-1.jpg") 50% 0 no-repeat fixed;*/
        background-color: #e6bd6e;
		background-size: cover;
        color: black;
        height: 750px;
        padding: 100px 0 0 0;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
        padding: 0;
}

#fourth .retro-toy{
    background: url(../images/episodes_page/Bex-90s-toy-Episode.gif) 85% 0 no-repeat fixed;
    height: 750px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 200;
    max-width: 1800px;
    width: 85%;
    overflow: hidden;
}

#fifth{
        /* background: url("../images/episodes_page/creative-1.jpg") 50% 0 no-repeat fixed;*/
    background-color: #2d46a2;
		background-size: cover;
        color: black;
        height: 750px;
        padding: 100px 0 0 0;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
        padding: 0;
}

.story{
        margin: 0 auto;
        min-width: 980px;
        overflow: auto;
        width: 980px;
}

.story .float-left, .story .float-right{
        padding: 100px 0 0 0;
        position: relative;
        width: 350px;   
}
