body{
	background-color: #0d0e10;
	color: #ECCD8D;
}
/*Page width and position*/
#page{
    width: 100%;
    
}

content{
	width: 59.6%;
}

/*Navigation Positioning*/ 
nav {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
	text-align: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px auto;
}

nav a img{
	width: 5%;
	height: 5%;
}

nav a img:hover{
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}
/*Image Size and Positioning*/

#glitch-witch-image{
  width: 59.6%;
	height: 91.6%;
}
#glitch-witch-image img{
	width: 59.6%;
	height: 91.6%;
	margin: 0px auto;
	position: absolute;
    left: 40px;
    top: 0px;
    z-index: -1;
}

/*Description Position*/
#description {
	width: 50%;
	text-align: left;
	color: #7BCBA4;
	position: absolute;
	left: 200px;
    bottom: 10px;
    z-index: -1;
}

/*Icon Positioning*/

.btn{
	width: 59.6%;
	position: relative;
	left: 72%;
	top: 100px;
	margin: 10px 5px 2px 0px;
}

.btn a img {
	width: 22.3%;
	height: 10.2%;
	padding-top: 6;
	padding-right: 6;
	padding-left: 6;
	padding-bottom: 6;	
}

.btn a img:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}

@media (max-width:800px){
	#glitch-witch-image img, #description {
		width: 50%;
		height: 89%;
}
@media (max-width:600px){
	#glitch-witch-image img, #description {
		width: 40%;
		height: 79%;
}
@media (max-width:400px){
	#glitch-witch-image img, #description {
		width: 30%;
		height: 69%;
}
@media (max-width:200px){
	#glitch-witch-image img, #description {
		width: 20%;
		height: 59%;
}
