body{
	background-color: #0d0e10;
	color: white;
}
/*Page width and position*/
#page{
    width: 100%;
    margin: 0px auto;
}

#content{
	width: 80%;
	margin: 0px auto;
}

/*Navigation Positioning*/ 
nav {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px auto;
}

nav a img{
	width: 10%;
	height: 10%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}
/*Banner Size and Positioning*/
#banner{
    margin: 0px auto;
    width: 512px;
    height: 378px;
}
#banner img{
    width: 512px;
    height: 378px;
    margin: 0px auto;
}
/*Description Position*/
#description {
    text-align: center;
	color: white;
}

/*Icon Positioning*/

.btn a img {
	width: 20%;
	height: 20%;
	margin: 0px auto;
    /*margin: 0px auto;*/
	padding: 2px;
	float: left;
	
}

/*Trial Styling*/
div .trial{
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border: 2px solid black;
}