/*Page width and position*/
#page{
    width: 100%;
    margin: 0px auto;
}

/*Navigation Positioning*/ 
nav {
    overflow: hidden;
    width: 80%;
    margin: 0px auto;
}

nav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px auto;
}
/*Banner Size and Positioning*/
#banner{
    margin: 0px auto;
    width: 512px;
    height: 378px;
}
#banner img{
    width: 512px;
    height: 378px;
    margin: 0px auto;
}
/*Description Position*/
#description {
    text-align: center;
}

/*Icon Positioning*/
.icon {
    width: 90px;
    height: 90px;
    background-color: cadetblue;
    margin: 0px auto;
    display: inline-block;
}

/*Trial Styling*/
div .trial{
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border: 2px solid black;
}