*{
    font-family: 'Mina', sans-serif;
}
body{
	background-color: #0d0e10;
	color: #7BCBA4;
}

/*Page width and position*/
#page{
    width: 100vw;
    
}

#content{
	/*width: 59.6vw;*/
	width: 100vw;
	
}

/*Nav Bar*/
nav{
    width: 100vw;
    text-align: center;
    /*margin-top: 50px;*/
    margin-left: 50px;
}
nav a{
    padding: 10px;
}

.nav-links img{
    width: 60px;
    padding-top: 2px;
}

.nav-links img:hover, #logo img:hover{
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}


li{
    display: inline-block;
}

header{
    color: #7BCBA4;
}

/*Logo*/
#logo img{
    width: 125px;
}

#logo{
   position: absolute;
    left: 0px;
    top: 0px;
}

/*Description Position*/
#description {
	text-align: left;
	color: #7BCBA4;
    bottom: 10px;
    z-index: -1;
}

@media (max-width:772px){
    /*Nav Bar*/
.nav-links img{
    width: 49px;
}
    #logo img{
    width: 100px;
}
   
}