body{
	background-color: #0d0e10;
	color: #ECCD8D;
}
/*Page width and position*/
#page{
    width: 100%;
    
}

#content{
	width: 59.6%;
	
}

/*Navigation Positioning*/ 
nav {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
	text-align: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 0px auto;
}

nav a img{
	width: 5%;
	height: 5%;
}

nav a img:hover{
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}
/*Banner Size and Positioning*/
#banner{
   width: 59.6%;
	height: 91.6%;
}
#banner img{
	width: 59.6%;
	height: 91.6%;
	margin: 0px auto;
    left: 0px;
    top: 0px;
    z-index: -1;
}
/*Description Position*/
#description {
	text-align: left;
	color: #7BCBA4;
    bottom: 10px;
    z-index: -1;
}

/*Icon Positioning*/

.btn a img {
	width: 22.3%;
	height: 10.2%;
	padding-top: 6;
	padding-right: 6;
	padding-left: 6;
	padding-bottom: 6;
	float: right;	
}

.btn a img:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
	


/*Trial Styling*/
div .trial{
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border: 2px solid black;
}
