/*Please see this tutorial by Matt Walker for how this game is made: http://www.my-html-codes.com/game-using-css3-animation*/
*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background: url(../images/web-games/memory-glitch/GW_hat_back.jpg);
    color: #fff;
    font-family: myriad pro;
    overflow: hidden;
}

#gameStats{
    /*background: #001711;*/
    background: #224666;
    width: 780px;
    margin: 10px auto 10px;
    display: block;
    -moz-box-shadow: 0px 3px 8px #000;
	box-shadow: 0px 3px 8px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	overflow: auto;
}

#gameStats p#reset{
    width: 200px;
    float: right;
    text-align: right;
    padding: 0 10px 0 0;
}

#gameStats p#backToGames{
    width: 200px;
    float: left;
    text-align: left;
    padding: 0 10px 0 0;
}

#gameStats .backToGames{
    width: 100px;
    float:left;
    text-align: left;
    padding: 0 6px 0 0;
    color: #fff;
    text-decoration: none;
    display: block;
}

#gameStats .backToGames:hover{
    width: 100px;
    float:left;
    text-align: left;
    padding: 0 6px 0 0;
    color: #7BCBA4;
    text-decoration: none;
    display: block;
}

#gameStats .gameReset{
    width: 200px;
    float: right;
    text-align: right;
    font-family: myriad pro;
    padding: 0 6px 0 0;
    color: #fff;
    text-decoration: none;
    display: block;
}

#game{
    /*background: #001711;*/
    background: #224666;
	width: 760px;
	height: 650px;
	margin: 0 auto;
	display: block;
	-moz-box-shadow: 0px 3px 12px #000;
	-webkit-box-shadow: 0px 3px 12px #000;
	box-shadow: 0px 3px 12px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 15px;
}

#cards{
    position: relative;
    width: 760px;
    height: 480px;
    display: none;
}
/*Define the 3D perspective view and dimension of each card*/
.card{
    -webkit-perspective: 600;
    width: 109px;
    height: 145px;
    position: absolute;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}
#gameIntro{
    background: url(../images/web-games/memory-glitch/Memory_Glitch_cover.jpg) top left no-repeat;
    padding: 80px 0;
    text-align: center;
    height: 660px;
}
#gameIntro a.button{
    background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 480px auto 0;
	padding: 10px;
	width: 150px;
	border: 3px solid #224666;
	color:#224666;
	text-decoration:none;
}
#gameIntro a.button:hover {
	background: #224666;
	color:#fff;
	text-decoration:none;
}
#gameComplete{
    background: url(../images/web-games/memory-glitch/Memory_Glitch_end.jpg) top left no-repeat;
    padding: 80px 0;
    text-align: center;
    height: 650px;
}
#gameComplete a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 360px auto 0;
	padding: 10px;
	width: 150px;
	border: 5px solid #224666;
	color:#224666;
	text-decoration:none;
}
#gameComplete p#top {
	margin: 100px 0 0;
	font-size: 20px;
	color:#fff;
}
.face{
    width: 100vw;
    height: 100vw;
    position: absolute;
    -webkit-transition-property: opacity, transform, box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-backface-visibility: hidden;
}

.front{
    background: url(../images/web-games/memory-glitch/Memory_Deck.jpg) 0 -146px;
    z-index: 10;
}

.back{
    background:  #efefef url(../images/web-games/memory-glitch/Memory_Deck.jpg);
    -webkit-transform: rotate3d(0,1,0,-180deg);
    z-index: 8;
}

.card:hover .face, .card-flipped .face{
    -webkit-box-shadow: 0 0 10px #aaa;
}
.card-flipped .front{
    -webkit-transform: rotate3d(0,1,0,-180deg);
    z-index: 8;
}
.card-flipped .back{
    -webkit-transform: rotate3d(0,1,0,0deg);
    z-index: 10;
}
.card-removed{
    opacity: 0;
}
.bexIcon{
    background-position: 0 0;
}
.rougeIcon{
    background-position: -110px 0;
}
.topherIcon{
    background-position: -220px 0;
}
.bennettIcon{
    background-position: -330px 0;
}
.ericIcon{
    background-position: -440px 0;
}
.isaacIcon{
    background-position: -550px 0;
}
.jennaIcon{
    background-position: -660px 0;
}
.joeyIcon{
    background-position: -770px 0;
}
.joshIcon{
    background-position: -880px 0;
}
.lainieIcon{
    background-position: -990px 0;
}
.laurenIcon{
    background-position: -1100px 0;
}
.qIcon{
    background-position: -1210px 0;
}