.thumbnails {
  position: relative;
  width: 15vw;
  cursor: pointer;
}

.thumb {
  display: block;
  width: 100vw;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vw;
  width: 100vw;
  opacity: 0;
  transition: .5s ease;
  background-color: #311b5c;
}

.thumbnails:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50vw;
  left: 50vw;
  transform: translate(-50vw, -50vw);
  -ms-transform: translate(-50vw, -50vw);
  text-align: center;
}