body{
	background-color: #0d0e10;
}
div{
    margin: 2px;
    text-align: center;
    color: #FFF;
}

.episode1{
    background-image: url("../images/blue_bat_cartoon_black_background_cutout-r0a8d33ff43e240f2aea360ffdeb3005a_x7saw_8byvr_324.jpg");
    
    min-height: 400px;
    /*Parallex Scroll Effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.episode2{
    background-image: url("../images/purple-stars1.jpg");
    
    min-height: 400px;
    /*Parallex Scroll Effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.episode3{
    background-image: url("../images/purple-stars2.jpg");
    
    min-height: 400px;
    /*Parallex Scroll Effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.episode4{
    background-image: url("../images/purple-strips.jpg");
    
    min-height: 400px;
    /*Parallex Scroll Effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}