*{
    font-family: 'Mina', sans-serif;
    color: #7BCBA4;
}

body{
    background: url("../images/episodes_page/synopsis_background.jpg") 10% 0 repeat fixed;
    background-size: 50vw;
}


div{
    background-color: #0d0e10;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width: 70vw;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 2px #7BCBA4 dashed;
}