body{
    overflow-x: hidden;
    height: 100vh;
}
#banner-parallax{
	width: 100vw;
	margin: 0 auto;
	text-align: center;
}
#banner-parallax img{
	width: 100vw;
}

#description{
	width: 80vw;
	text-align: center;
	margin: 0 auto;
}

#bex-eyes-follow{
    display: none;
}


#bex-expression-gif img{
    width: 45vw;
    margin: 5vw 30vw;
}

#social-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#social-media img{
    width: 10vw;
    margin-left: 6vw;
}

/*#bex-eyes-follow{
	width: 100%;
	text-align: center;
	margin: 0 auto;
    position: relative;
    margin-right: -45%;
}*/

/*#bex-eyes-follow{
    margin: 10 auto;
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: -30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.head-image,.circle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 260px;
    
}

.head-image{
    z-index: 0;
}

.front{
    z-index: 1;
}*/

/*Media Query*/
@media (min-width:800px){
	/*#bex-eyes-follow{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
}*/
    
    #bex-expression-gif img{
    width: 35vw;
    margin: 2vw 30vw;
}
    #social-media img{
    width: 7vw;
    margin: 0 2vw;
}
    #social-media{
    width: 40vw;
    margin: 0 27.75vw;
}   
    
}

@media (min-width:1000px){
	/*#bex-eyes-follow{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
}*/
    #bex-expression-gif{
   display: none;
}

#bex-eyes-follow{
    display: inline-block;
    /*margin: 0 35vw;*/
    /*width: 260px;
    height: 260px;*/
    width: 25vw;
    height: 25vw;
    position: relative;
}

.head-image,.circle{
    position: absolute;
    bottom: 0;
    left: 35vw;
    /*width: 260px;
    height: 260px;*/
    width: 25vw;
    height: 25vw;
}

.head-image{
    z-index: 0;
}

.front{
    z-index: 1;
}

#social-media img{
    width: 5vw;
    margin: 0 2vw;
}
    #social-media{
    width: 40vw;
    margin: 0 27.75vw;
}  
    
}

@media(min-width:1200px){

.head-image,.circle{
    position: absolute;
    bottom: 5vw;
    left: 40vw;
    /*width: 260px;
    height: 260px;*/
    width: 20vw;
    height: 20vw;
}
    
    #social-media img{
    width: 4vw;
    margin: 0 1vw;
}
    #social-media{
    width: 30vw;
    margin: -4vw 35vw 0;
}  
}
@media(min-width:1400px){
    .head-image,.circle{
    position: absolute;
    bottom: 10vw;
    left: 43vw;
    /*width: 260px;
    height: 260px;*/
    width: 15vw;
    height: 15vw;
}
    
    #social-media img{
    width: 3vw;
}
    #social-media{
    width: 16vw;
    margin: -9vw 42vw 0;
}   
}
    
@media(min-width:1600px){
.head-image,.circle{
    position: absolute;
    bottom: 12vw;
    left: 42vw;
    /*width: 260px;
    height: 260px;*/
    width: 13vw;
    height: 13vw;
}
    
    #social-media img{
    width: 2vw;
}
    #social-media{
    width: 13vw;
    margin: -11vw 42vw 0;
}   

}
    
@media(min-width:1725px){
.head-image,.circle{
    position: absolute;
    bottom: 15vw;
    left: 45vw;
    /*width: 260px;
    height: 260px;*/
    width: 10vw;
    height: 10vw;
}
    
    #social-media img{
    width: 2vw;
    margin: 0 .5vw;
}
    #social-media{
    width: 10vw;
    margin: -15vw 45vw 0;
}   

}

@media(min-width:1850px){
.head-image,.circle{
    position: absolute;
    bottom: 17vw;
    left: 46vw;
    /*width: 260px;
    height: 260px;*/
    width: 8vw;
    height: 8vw;
}
    
    #social-media img{
    width: 2vw;
    margin: 0 .5vw;
}
    #social-media{
    width: 10vw;
    margin: -17vw 45vw 0;
}   

}

