#banner-parallax{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#banner-parallax img{
	height: 20%;
	width: 100%;
}

#description{
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

/*#bex-eyes-follow{
	width: 100%;
	text-align: center;
	margin: 0 auto;
    position: relative;
    margin-right: -45%;
}*/

#bex-eyes-follow{
    margin: 10 auto;
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: -60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.head-image,.circle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 260px;
    
}

.head-image{
    z-index: 0;
}

.front{
    z-index: 1;
}