/*VideoPlayer Styling*/
#videoPlayer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

#videoPlayer img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

/*Thumbnail*/

#thumbnail{
  margin: 20px;
  padding: 20px;
  height: 60px;
  width: 70%;
}

a.active {
  opacity: 0.3;
}

.thumb img{
	width: 15%;
}

/*Parts of Page*/
/*.videoGallery{
  width: 400px;
  padding: 20px;
  float: left;
}*/
#play-all{
	float:right;
}