body{
    overflow-x: hidden;
}
.videoGallery{
    width: 90%;
}
/*VideoPlayer Styling*/
#videoPlayer {
  position: relative;
  margin-left: 20%;
  overflow: hidden;
}

/*Parts of Page*/
.thumbnail-column{
    width: 15%;
    height: 490px;
    float: right;
    border: 3px solid #7BCBA4;
}


/*Thumbnail CSS*/
.thumb{
    width: 95%;
    cursor: pointer;
    margin-left: 5%;
}

@media (max-width:1500px){
  #videoPlayer {
  margin-left: 15%;
}
    
    
}

@media (max-width:1300px){
  #videoPlayer {
  margin-left: 10%;
  width: 70%;
}
/*
@media (max-width:772px){
  .videoGallery{
    width: 600px;
}
    .thumbnail-column{
    width: 600px;
    height: 200px;
    margin-right: -11%;
    
    }
#videoPlayer {
  margin-left: 11%;
        
}
.storyboards{
    width: 600px;
}
    
   
}*/
