/*VideoPlayer Styling*/
#videoPlayer {
  position: relative;
  margin-left: 30vw;
  /*width: 400px;
  height: 270px;*/
  overflow: hidden;
}

@media (max-width:375px){
    #videoPlayer{
        margin-left: 10vw;
        width: 80vw;
        height: 60vw;
    }
}

/*@media (min-width:768px){
    #videoPlayer{
        width: 90vw;
        height: 90vw;
        
    }
}*/

#videoPlayer img{
  position: absolute;
  max-width: 100vw;
  max-height: 100vw;
  top: 50vw;
  left: 50vw;
}

/*Thumbnail*/

#thumbnails{
  margin: 20px;
  padding: 20px;
  width: 70vw;
}

.active {
    border: 3px solid #7BCBA4;
}

.thumb{
	width: 15vw;
    cursor: pointer;
}

/*Parts of Page*/
#play-all{
	width: 20vw;
    text-align: center;
   
}

#play-all a img{
    width: 75vw;
}

/*Columns*/

.column {
    float: left;
}