body{
    text-align: center;
    background: url(../../../../images/web-games/memory-glitch/GW_hat_back.jpg);
    color: #fff;
    font-family: myriad pro;
    overflow: hidden;
}

.back-to-games{
    text-decoration: none;
    color: white;
    background: #224666;
    width: 780px;
    margin: 10px auto 10px;
    display: block;
    -moz-box-shadow: 0px 3px 8px #000;
	box-shadow: 0px 3px 8px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	overflow: auto;
}

.back-to-games a{
    text-decoration: none;
    color: white;
}
#ph_game{ 
    padding-top: 35px;
}

#game{
    /*background: #001711;*/
    background: #224666;
	width: 760px;
	height: 550px;
	margin: 0 auto;
	display: block;
	-moz-box-shadow: 0px 3px 12px #000;
	-webkit-box-shadow: 0px 3px 12px #000;
	box-shadow: 0px 3px 12px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 15px;
}